[Unit]
Description=Nayar Dashboard

[Service]
WorkingDirectory=/root/Mera-Dashboard/
ExecStart=/usr/local/bin/gulp serve

[Install]
WantedBy=multi-user.target
 
